.root {
-fx-background-image: url("menubackground.jpg")
}
.label {
-fx-font-size: 14px;
-fx-font-weight: bold;
}
.button {
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
